*{
    margin: 0px;
    padding: 0px;
}

.cv-body{
    width: 49.625rem;
    background-color: #001C42;
    color: #fff;
    margin: 0px auto;
    height: auto;
    padding: 1rem;
}

.progress{
    background-color: #00E4DC!important;
}
.progress-color{
    background-color: #00428F!important;
}
.header-section img{
    width: 10%;
}

.personal{
    display: flex;
    justify-content: center;
}
.personal img{
    width: 25%;
    height: 50%;
    border-radius: 50%;
}
.personal-info{
    display: flex;
}
.my-data{
    width: 50%;
    float: left;
    border-right: 2px solid #fff;
}
.name h2{
    line-height:1.2rem!important;
}
.my-data h5, .about-me h5{
    letter-spacing: 3px;
}
.about-me{
    width: 50%;
    float: left;
    padding-left: 2rem;
}



.education-experience, .skill-language{
    display: flex;
}
.skill h2, .language h2{
    padding: 20px 0px 15px 0px;
}
.education{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.skill{
    border-right: 2px solid #fff;
}

.experience{
    border-bottom: 2px solid #fff;
}
.education h2, .experience h2{
    padding-bottom: 15px;
}
.education, .experience, .skill, .language{
    width: 50%;
}

.education ul{
    list-style: none;
}
.education-steps{
    position: relative;
}
.education-step li:first-child{
    padding-right: 15px;
}

.education-step li:last-child{
    border-left: 2px solid #063E96;
    padding: 0px 15px;
}
.education-step li::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 165px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #063E96;
}
.education-step li::before{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 165px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #063E96;
}

.education-step li{
    display: inline-block;
}

.education-step li strong{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.education-step li p{
    font-size: 12px;
}



.experience-steps li{
    list-style: none;
}

.experience-steps li strong{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.experience-steps li p{
    font-size: 12px;
    line-height: 12px;
}


/* skill section start */

.skill-line-one{
    display: flex;
}
.top-right{
    width: 50%;
}
.top-left{
    width: 50%;
}
.skill-title{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}


.set-size {
  font-size: 8em;
}

.pie-wrapper .pie .half-circle::before{
    content: '';
    height: 100%;
    width: 100%;
    border: 0.1em solid #00E4DC;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #063E96;
}
.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #063E96;
}
.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}




/* skill section end */


.language ul li{
    display: flex;
    margin: 10px 0;
}
.language-label{
    width: 25%;
}
.language-progress{
    width: 75%;
}




.skill-language{
    padding-bottom: 50px;
}







/* @media only screen and (max-width: 600px){
    .cv-body{
        width: 100%;
    }
} */